.contenedor{
    display: grid;
    height: 100vh;
    grid-template-columns: 480px 480px 480px;
    grid-template-rows: 0px 500px 100px;
    display: grid;
    grid-template-areas: 
    'enc enc enc enc'
    'Menu con con con'
    'Menu con con con'
    'pie pie pie pie'
    ;
}

header, nav, main, section, footer {
    max-width: 1473px;
    margin: auto;
}
nav{
    background-color:  rgb(11, 12, 31);
    height: 750px;
    width: 491px;
    align-content: center;
    text-align: center;
}
main{
    background-color: rgb(51, 181, 221);
    height: 750px;
    width: 491px;
    align-content: center;
}
section{
    background-color:  rgb(11, 12, 31);
    height: 750px;
    width: 491px;
}

img{
    width: 1450px;
    height: 350px;
}
footer{
    background-color: rgb(0, 0, 0);
    grid-area: pie;
    color: white;
    align-content: center;
    text-align: center;
}
.imagen{
    width: 400px;
    height: 700px;
}
a{
    color: gold;
    text-align: center;
    align-content: center;
}

.imagen2{

    width: 480px;
    height: 260px;
}
a{
    text-decoration: none;
}